<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Financial" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if current_user %>
      <nav class="bg-blue-500 p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
          <a href="<%= root_path %>" class="text-white text-lg font-semibold">Minha Aplicação Financeiro</a>
          
          <div class="relative">
            <button id="menu-button" class="text-white focus:outline-none">
              <span>☰</span>
            </button>
            
            <div id="menu" class="hidden absolute right-0 bg-white shadow-md rounded mt-2 w-48">
              <p class="px-4 py-2 text-gray-700">Olá, <%= current_user.email_address %></p>
              <%= button_to "Sair", session_path, method: :delete, class: "block w-full text-left px-4 py-2 text-red-500 hover:bg-red-100" %>
            </div>
          </div>
        </div>
      </nav>

      <script>
        document.getElementById('menu-button').addEventListener('click', function() {
          document.getElementById('menu').classList.toggle('hidden');
        });
      </script>
    <% end %>

    <main class="flex items-center justify-center min-h-screen">
      <%= yield %>
    </main>
  </body>
</html>
